<mat-sidenav-container autosize class="app-shell min-h-screen">
  <mat-sidenav
    mode="side"
    opened
    [style.width.px]="collapsed() ? 80 : 260"
    class="app-sidenav"
  >
    <div class="flex items-center justify-between gap-2 px-3 mb-8">
      <div class="flex items-center gap-2">
        <mat-icon class="text-cyan-400">currency_bitcoin</mat-icon>
        <span *ngIf="!collapsed()" class="text-sm uppercase text-emerald-400 font-semibold">Crypto Manager</span>
      </div>
      <button
        mat-icon-button
        class="text-slate-300 hover:text-white"
        type="button"
        (click)="toggleSidenav()"
        aria-label="Toggle sidenav"
      >
        <mat-icon>{{ collapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
      </button>
    </div>

    <nav class="p-2">
      @for (item of menuItems; track item.label) {
        <a
          [routerLink]="item.path"
          [routerLinkActive]="['bg-slate-800','text-white']"
          [routerLinkActiveOptions]="{ exact: true }"
          class=" mb-2 flex items-center gap-3 rounded-2xl px-3 py-3 text-sm font-medium text-slate-300 transition hover:bg-slate-800 hover:text-white"
          [class.justify-center]="collapsed()"
        >
          <mat-icon class="text-cyan-400">{{ item.icon }}</mat-icon>
          <span *ngIf="!collapsed()">{{ item.label }}</span>
        </a>
      }
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content p-1">
    <section class="min-h-[calc(100vh-.5rem)] rounded-[5px] border border-slate-800/70 bg-slate-950/90 shadow-[0_25px_80px_-40px_rgba(15,23,42,0.85)]">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
